{% extends "base.html" %}
{% block content %}
<script>
    function my_age(){
    var d = new Date();
    var age = 0;
    var time = [d.getFullYear(),d.getMonth(),d.getDate()];
    if (time[2]<12 && time[1]+1<=2){
        age -= 1;
    };
    age += time[0]-1992;
    return age
};
</script>
<body>
<form class='post_body'>
<p class='lead'>My name is Denis.</p>
<p class='lead' id='age'>I was born on the 12 February 1992. So I'm </p>
<p class='lead'>I have graduated from the Moscow State Linguistic University. Now I study linguistics as a postgraduate student there .</p>
<p class='lead'>I love computers, programming, foreign languages, linguistics and somehow biology, interesting books and movies, and to play all sorts of things. I try to be open-minded. The aim of this blog to aid me in learning Django. But I'll write about everything interesting that others or I think or do. </p>
<a href="https://github.com/denis-gordeev"> <img src="http://blog-textprocessing.rhcloud.com/static/github.png"></a>
<script>
$(document).ready(function(){
$("#age").append(my_age()+'.');
});
</script>
</form>
</body>
{% endblock %}
