{% extends 'base.html' %}
{% block content %}
<p class='post_body'><a href="http://forwebdev.ru/">For Web Онлайн - журнал о фронтэнде</a></p>
<p class='post_body'><a href="http://research.google.com/pubs/NaturalLanguageProcessing.html">Research at Google Natural Language Processing </a></p>
<p class='post_body'><a href="https://aliteralmind.wordpress.com/">aliteralmind — Computer Programming Blog</a></p>
<p class='post_body'><a href="http://www.jeffknupp.com/blog/archives/"> Jeff Knupp Everything I know about Python...</a></p>
<p class='post_body'><a href="https://thecodebarbarian.wordpress.com/">
The Code Barbarian The software development blog of Valeri Karpov
</a></p>
<p class='post_body'><a href="www.writing.upenn.edu/~afilreis/88v/schedule00a.html">Modern American Poetry course.
</a></p>
<p class='post_body'><a href="http://eloquentjavascript.net/">Eloquent Javascript book
</a></p>
<p class='post_body'><a href="http://blog.teamtreehouse.com/">Team Treehouse blog (frontend)
</a></p>
<p class='post_body'><a href="https://www.airpair.com/about">Developers social network
</a></p>
<p class='post_body'><a href="http://www.acman.ru/blog/">Russian Django, frontend blog
</a></p>
<p class='post_body'><a href="http://blog.miguelgrinberg.com/index">Flask blog
</a></p>

{% endblock %}
